$font-color-title: rgba(227, 227, 227, 100%);
$font-color-additional: rgba(176, 176, 176, 50%);
$font-color-button: rgba(227, 227, 227, 100%);

$background-color-hover: rgba(0,0,0, 30%);
$background-color-border-separator: rgba(255, 255, 255, 0.1);
$background-color-menu: linear-gradient(174.04deg, rgba(14, 39, 53, 0.37) 0%, rgba(11, 119, 180, 0.5) 101.13%);
$background-color-main-content: linear-gradient(107.5deg, rgba(0, 0, 0, 0.66) 0%, rgba(0, 0, 0, 0.7) 100%);